<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B96F98CB2CCE486A005A7D9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9AF9E8E2CB5C8D000B497E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9E984AA2C6146CB0001C03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
